html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

	 
.table1{border:solid #0050B6; border-width:1px 0px 0px 1px; width:100%;}

.table1 td{
	 border:solid #0050B6;
	 border-width:0px 1px 1px 1px; 
	
	 height:25px;
	 line-height:25px;
	
	 }
	 
	 
.table2{border:solid #0050B6; border-width:0px 0px 0px 0px; width:95%;float:right;}

.table2 td{
	border:solid #0050B6;
	 border-width:0px 0px 0px 0px; 
	 padding-left:3px;
	 height:28px;
	 line-height:28px;
	
	 }
	 
	 th{	 	 
	 	 padding-top:20px;
	 height:25px;
	 line-height:25px;
    font-family: ו; 
   font-weight:bold;
	
	 }
	 
	 
	 .title2{	 	 
	 	  padding-top:20px;
	    height:25px;
	    line-height:25px;
      font-family: ו; 
      font-weight:bold;
	
	 }
	.line{
		width:100%;
		height:2px;
		margin:0px auto;
		padding:0px;
		background-color:#0050B6;
		overflow:hidden;
		
	}
	 
	 .tdresult	{
	 	
	position:absolute;

   position:relative; 
left:20px; 
          
	 }
	 
	  
  .button2{ 
  	width:100%;
	height:35px;
	border-radius:5px; 
	background:#fff;

	font-size:14px;
	margin:30px;

	}
	  
  .button3{ 
  	width:100%;
	height:35px;
	border-radius:5px; 
	background:#0050B6;
	font-size:14px;
	margin:30px;

	}
  .submit-btn2{
	color:#fff;
	width:100%;
	line-height:35px;
	 font-weight:bold;
	}
	
	

.bsearch{
		width:60px;
		height:28px;
		border:none;
		background:#0050B6;
		text-align: center;
		line-height:28px;
		color: #fff;
		border-radius: 5px;
		font-size:14px;
		}